

<!-- Website FRONTPAGE Header -->
<header th:fragment="front" class="ui vertical masthead aligned segment header-background">

    <nav id="header-page-nav" class="ui main-menu container" th:include="fragments/navigation :: standard-nav (publisher=${is_publisher})"></nav>

    <div th:if="${not _header}" class="ui text container">
        <h1 class="ui header" th:utext="${siteName}">
            Site name
        </h1>
        <h2 th:if="${not header}" class="headline"
            th:unless="${#strings.isEmpty(siteCaption)}" itemprop="headline" th:utext="${siteCaption}">
            Do whatever you want when you want to.
        </h2>
    </div>
    <div th:if="${_header}" class="ui text container">

        <!-- Inline Header Styles -->
        <style th:replace="fragments/inline-styles :: header-style (${_header})" />

        <h1 th:if="${not #strings.isEmpty(_header.title)}" class="ui header"
            th:utext="${_header.title}">
            Site header name
        </h1>
        <h2 th:if="${not #strings.isEmpty(_header.content)}" class="headline" itemprop="headline"
            th:utext="${_header.content}">
            Do whatever you want when you want to.
        </h2>

        <div th:if="${not #lists.isEmpty(_header.buttons)}">
            <div class="page-buttons">
                <div th:each="button : ${_header.buttons}">
                    <a th:if="${not #strings.isEmpty(button.label) and not #strings.isEmpty(button.link)}"
                        class="ui button" th:classappend="${button.style}"
                        th:href="${button.link}"
                        th:text="${button.label}">
                        Button label
                    </a>
                </div>
            </div>
        </div>

    </div>

</header>

<!-- Single PAGE Header -->
<header th:fragment="page" class="ui vertical center masthead aligned segment header-background">

    <!-- Include First Navigation -->
    <nav id="header-page-nav" class="ui main-menu container" th:include="fragments/navigation :: standard-nav (publisher=${is_publisher})"></nav>

    <!-- Render parts of the website header if no custom page header is available -->
    <div th:if="${not header}" class="ui text container">
        <div class="v-space"></div>
        <h1 class="ui header" itemprop="headline" th:utext="${page.title}">
            Page name
        </h1>
        <!-- Include Header Website Styles as default Page Header -->
        <style th:replace="fragments/inline-styles :: header-style (${_header})" />
    </div>

    <!-- Render custom "Header" (topic), override standard header  -->
    <div th:if="${header}" class="ui text container">

        <!-- Inline Header Styles -->
        <style th:replace="fragments/inline-styles :: header-style (${header})" />

        <div th:if="${not #strings.isEmpty(header.title)}">
            <div class="v-space"></div>
            <h1 class="ui header" itemprop="headline" th:utext="${header.title}">
                Page header title
            </h1>
        </div>

        <div th:if="${not #strings.isEmpty(header.content)}">
            <h2 th:if="${header.content}" class="headline" itemprop="headline"
                th:utext="${header.content}">
                Page header content
            </h2>
        </div>

        <div th:if="${not #lists.isEmpty(header.buttons)}">
            <div th:if="${header.buttons}" class="page-buttons">
                <div th:each="button : ${header.buttons}">
                    <a th:if="${not #strings.isEmpty(button.label) and not #strings.isEmpty(button.link)}"
                        class="ui button" th:classappend="${button.style}"
                        th:href="${button.link}"
                        th:text="${button.label}">
                        Button label
                    </a>
                </div>
            </div>
        </div>

    </div>

</header>
