
<!-- Frontpage Header -->
<header th:fragment="front" class="ui inverted vertical masthead center aligned segment header-background">

    <nav id="header-page-nav" class="ui container" th:include="fragments/navigation :: standard-nav"></nav>

    <div th:if="${not header}" class="ui text container">
        <h1 class="ui inverted header" th:utext="${siteName}">
            Site name
        </h1>
        <h2 th:if="${not header}" class="caption"
            th:unless="${#strings.isEmpty(siteCaption)}" itemprop="headline" th:utext="${siteCaption}">
            Do whatever you want when you want to.
        </h2>
    </div>
    <div th:if="${header}" class="ui text container">

        <!-- Inline Header Styles -->
        <style th:replace="fragments/inline-styles :: header-style (${header})" />

        <h1 class="ui inverted header"
            th:utext="${header.title}">
            Site header name
        </h1>
        <h2 class="caption" itemprop="headline"
            th:utext="${header.content}">
            Do whatever you want when you want to.
        </h2>

        <!-- Render Header Buttons -->
        <div class="page-buttons">
            <a th:each="button : ${header.buttons}"
                class="ui button primary" th:classappend="${button.style}"
                th:href="${button.link}"
                th:text="${button.label}">
                Button label
            </a>
        </div>

    </div>

</header>

<!-- Simple Page Header -->
<header th:fragment="page" class="ui inverted vertical masthead center aligned segment header-background">

    <!-- Include First Navigation -->
    <nav id="header-page-nav" class="ui container" th:include="fragments/navigation :: standard-nav"></nav>

    <!-- Render standard header if no custom header available -->
    <div th:if="${not header}" class="ui text container">
        <h1 class="ui inverted header" itemprop="headline" th:utext="${page.pageTitle}">
            Page name
        </h1>
    </div>

    <!-- Render custom "Header" (topic), override standard header  -->
    <div th:if="${header}" class="ui text container">

        <!-- Inline Header Styles -->
        <style th:replace="fragments/inline-styles :: header-style (${header})" />

        <h1 class="ui inverted header"
            itemprop="headline" th:utext="${header.title}">
            Page header title
        </h1>
        <h2 class="caption" itemprop="headline"
            th:utext="${header.content}">
            Page header content
        </h2>
        <!-- Render Header Buttons -->
        <div class="page-buttons">
            <a th:each="button : ${header.buttons}"
                class="ui button primary" th:classappend="${button.style}"
                th:href="${button.link}"
                th:text="${button.label}">
                Button label
            </a>
        </div>
    </div>

</header>
