
<!-- Header (Area) Inline Styles -->
<div class="inline-styles" th:fragment="header-style (header)">
    <style th:if="${header and not #strings.isEmpty(header.largeImage)}" th:inline="text">
        /*<![CDATA[*/
        @media(min-width: 1025px) {
            .page .ui.segment.header-background {
                background-image: url('/filerepo/[[${header.largeImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: [[${header.largeImageAttachment}]];
                background-size: [[${header.largeImageSize}]];
            }
        }
        /*]]*/
    </style>
    <style th:if="${header and not #strings.isEmpty(header.smallImage)}" th:inline="text">
        /*<![CDATA[*/
        @media(max-width: 1024px) {
            .page .ui.segment.header-background {
                background-image: url('/filerepo/[[${header.smallImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: [[${header.smallImageAttachment}]];
                background-size: [[${header.smallImageSize}]];
            }
        }
        /*]]>*/
    </style>
    <style th:if="${header and not #strings.isEmpty(header.largeImage) and not #strings.isEmpty(header.smallImage)}"
           th:inline="text">
        /*<![CDATA[*/
        .page .sidebar .ui.inverted.menu,
        .page .sidebar .ui.menu,
        .page .vertical.inverted.sidebar.menu,
        .page .vertical.sidebar.menu,
        .page #lower-page-nav .ui.menu,
        .page .ui.segment.header-background,
        .page .ui.segment.header-background .ui.menu {
            background-color: [[${header.backgroundColor}]];
            color: [[${header.fontColor}]];
        }
        .page .ui.segment.masthead .ui.header,
        .page .ui.segment.masthead {
            color: [[${header.fontColor}]];
        }
        /*]]>*/
    </style>
    <style th:if="${header and #strings.isEmpty(header.largeImage) and #strings.isEmpty(header.smallImage) and not #strings.isEmpty(header.backgroundColor) and not #strings.equals(header.fontColor)}"
           th:inline="text">
        /*<![CDATA[*/
        .page .sidebar .ui.inverted.menu,
        .page .sidebar .ui.menu,
        .page .vertical.inverted.sidebar.menu,
        .page .vertical.sidebar.menu,
        .page #lower-page-nav .ui.menu,
        .page .ui.segment.masthead .ui.header,
        .page .ui.segment.masthead,
        .page .ui.segment.header-background,
        .page .ui.segment.header-background .ui.menu {
            background-color: [[${header.backgroundColor}]];
            color: [[${header.fontColor}]];
        }
        /*]]>*/
    </style>
</div>

<!-- Section (Area) Inline Styles -->
<div class="inline-styles" th:fragment="section-background (section)">
    <style th:if="${not #strings.isEmpty(section.backgroundColor) and not #strings.equals(section.fontColor)}" th:inline="text">
        /*<![CDATA[*/
        .page .ui.segment.section-bg-[[${section.id}]],
        .page .ui.accordion-section .styled.accordion .title,
        .page .ui.accordion-section .styled.accordion .content {
            background-color: [[${section.backgroundColor}]];
            color: [[${section.fontColor}]];
            /** border-top: 1px solid [[${section.fontColor}]]33; 
            Add some opacity to all upper borders of section **/
        }
        .page .ui.container.section-bg-[[${section.id}]] .ui.header,
        .page .ui.accordion-section .styled.accordion .title,
        .page .ui.segment.section-bg-[[${section.id}]] .ui.header {
            color: [[${section.fontColor}]];
        }
        /*]]>*/
    </style>
    <style th:if="${not #strings.isEmpty(section.largeImage)}" th:inline="text">
        /*<![CDATA[*/
         @media(min-width: 1025px) {
            .page .ui.segment.section-bg-[[${section.id}]] {
                background-image: url('/filerepo/[[${section.largeImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
            }
        }
        /*]]>*/
    </style>
    <style th:if="${not #strings.isEmpty(section.smallImage)}" th:inline="text">
        /*<![CDATA[*/
        @media(max-width: 1024px) {
            .page .ui.segment.section-bg-[[${section.id}]] {
                background-image: url('/filerepo/[[${section.smallImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
            }
        }
        /*]]>*/
    </style>
</div>

<!-- Tile Inline Styles -->
<div class="inline-styles" th:fragment="tile-background (content)">
    <style th:if="${not #strings.isEmpty(content.backgroundColor) and not #strings.isEmpty(content.fontColor)}" th:inline="text">
        /*<![CDATA[*/
        .page .ui.segment .tile-background-[[${content.id}]] {
            background-color: [[${content.backgroundColor}]];
            color: [[${content.fontColor}]];
        }
        /** Override H1 - H6 Section Font Color **/
        .page .ui.container .tile-background-[[${content.id}]] .ui.header,
        .page .ui.segment .tile-background-[[${content.id}]] .ui.header {
            color: [[${content.fontColor}]];
        }
        /*]]>*/
    </style>
    <style th:if="${not #strings.isEmpty(content.largeImage)}" th:inline="text">
        /*<![CDATA[*/
         @media(min-width: 1025px) {
            .page .ui.segment .tile-background-[[${content.id}]] {
                background-image: url('/filerepo/[[${content.largeImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
        /*]]>*/
    </style>
    <style th:if="${not #strings.isEmpty(content.smallImage)}" th:inline="text">
        /*<![CDATA[*/
        @media(max-width: 1024px) {
            .page .ui.segment .tile-background-[[${content.id}]] {
                background-image: url('/filerepo/[[${content.smallImage}]]');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
        /*]]>*/
    </style>
</div>
