
<!-- Content Form Full Sized Segment -->
<div th:fragment="mapbox-widget-full (section)"
     th:class="'ui vertical basic spaced segment mapbox-widget-full section-bg-' + ${section.id}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <style>
        #map { height: 400px; width: 100%; }
    </style>
    <!-- Map Widget Title -->
    <div class="ui container">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Map Section Title
        </h1>
    </div>
    <!-- Map Widget Content -->
    <div id="map" class="ui container">
        Loading ...
    </div>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFsdHdpc25leSIsImEiOiJlODg3M2M5YzFhY2Y2NWMzMmE0Nzk1YWNjMWYwN2U0ZCJ9.b_4gukx7cUR4-spxHbj_Kw';
        const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/maltwisney/ck447u1o809he1clb65pw1qmf',
          center: [13.410415, 52.539394],
          zoom: 15.6
        });
        var popup = new mapboxgl.Popup({className: 'map-route-info'})
            .setHTML('Kastanienallee 12, 10435 Berlin, <a target="_blank" href="https://www.google.de/maps/dir//Kastanienallee+12,+10435+Berlin/@52.5391948,13.4078253,17z/data=!4m17!1m7!3m6!1s0x47a851fee78ac779:0x65fb8eee5964136b!2sKastanienallee+12,+10435+Berlin!3b1!8m2!3d52.5391916!4d13.410014!4m8!1m0!1m5!1m1!1s0x47a851fee78ac779:0x65fb8eee5964136b!2m2!1d13.410014!2d52.5391916!3e0">Use Google Directions</a>')
        var marker = new mapboxgl.Marker().setLngLat([13.410415, 52.539394]).addTo(map);
        marker.setPopup(popup)
    </script>

</div>

<!-- Mapbox Small Sized Widget -->
<div th:fragment="mapbox-widget-small" class="mapbox-widget-small">
    <!-- Inline Section Styles -->
    <style>
        #small-map { height: 250px; width: 100%; }
        #small-map { color: rgba(0,0,0,.87); }
        h4 { margin: 0em; }
    </style>
    <!-- Map Widget Content -->
    <div id="small-map">
        Loading  ...
    </div>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFsdHdpc25leSIsImEiOiJlODg3M2M5YzFhY2Y2NWMzMmE0Nzk1YWNjMWYwN2U0ZCJ9.b_4gukx7cUR4-spxHbj_Kw';
        const map = new mapboxgl.Map({
          container: 'small-map',
          style: 'mapbox://styles/maltwisney/ck447u1o809he1clb65pw1qmf',
          center: [13.410415, 52.539394],
          zoom: 14.85
        });
        var popup = new mapboxgl.Popup({className: 'map-route-info'})
            .setHTML('<h4>Kastanienallee 12, 10435 Berlin</h4><a target="_blank" href="https://www.google.de/maps/dir//Kastanienallee+12,+10435+Berlin/@52.5391948,13.4078253,17z/data=!4m17!1m7!3m6!1s0x47a851fee78ac779:0x65fb8eee5964136b!2sKastanienallee+12,+10435+Berlin!3b1!8m2!3d52.5391916!4d13.410014!4m8!1m0!1m5!1m1!1s0x47a851fee78ac779:0x65fb8eee5964136b!2m2!1d13.410014!2d52.5391916!3e0">Use Google Directions</a>')
        var marker = new mapboxgl.Marker().setLngLat([13.410415, 52.539394]).addTo(map);
        marker.setPopup(popup)
    </script>

</div>