
<!-- Mobile Semantic Sidebar Menu -->
<div th:fragment="vertical-nav" class="ui vertical left wide menu inverted sidebar">

    <a th:replace="fragments/widgets :: logo-site-link"></a>

    <div class="ui category search item">
        <div class="ui transparent inverted icon input">
            <input class="prompt" type="text" placeholder="Search..." />
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>

    <div class="ui vertical fluid inverted menu">

        <div th:each="menuItem : ${menuItems}">
            <a th:if="${!menuItem.hasChildItems}"
                th:class="${#strings.endsWith(menuItem.href, location) ? 'active item' : 'item'}"
                itemprop="url" th:title="'Open Page ' + ${menuItem.label}" th:text="${menuItem.label}"
                th:href="${menuItem.fullHref}">Menu Item</a>

            <div th:if="${menuItem.hasChildItems}" class="item">
                <!-- a th:text="${menuItem.label}" th:href="${menuItem.href}"></a-->
                <span th:text="${menuItem.label}" class="ui header"></span> <!-- Compare + Adjust Menu Below -->
                <div class="menu">
                    <a th:class="${#strings.endsWith(childItem.href, location) ? 'active item' : 'item'}"
                         th:each="childItem : ${menuItem.childMenuItems}"
                         th:href="${childItem.fullHref}"
                         th:text="${childItem.label}">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Standard Semantic Top Menu -->
<div th:fragment="standard-nav">
    <div class="ui large inverted menu">

        <a th:replace="fragments/widgets :: logo-site-link"></a>

        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>

        <div class="menu-items menu">

            <div th:each="menuItem : ${menuItems}">
                <a th:if="${!menuItem.hasChildItems}"
                    th:class="${#strings.endsWith(menuItem.href, location) ? 'active item' : 'item'}"
                    itemprop="url" th:title="'Open Page ' + ${menuItem.label}" th:text="${menuItem.label}"
                    th:href="${menuItem.fullHref}">Menu Item</a>

                <div th:if="${menuItem.hasChildItems}" class="ui simple dropdown item">
                    <a th:text="${menuItem.label}" th:href="${menuItem.fullHref}"></a>
                    <i class="icon dropdown"></i>

                    <div class="menu">
                        <a th:class="${#strings.endsWith(childItem.href, location) ? 'active item' : 'item'}"
                             th:each="childItem : ${menuItem.childMenuItems}"
                             th:href="${childItem.fullHref}"
                             th:text="${childItem.label}">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui transparent inverted icon input">
                    <input class="prompt" type="text" id="text-search" placeholder="Search..." />
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>

    </div>
</div>

<!-- Low Scrolling Position Semantic Top Menu -->
<div th:fragment="lower-page-nav">
    <div class="ui large top fixed hidden menu inverted">

        <div class="ui container">
            <a th:replace="fragments/widgets :: logo-site-link"></a>
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="ui inverted menu menu-items">
                <div th:each="menuItem : ${menuItems}">
                    <a th:if="${!menuItem.hasChildItems}"
                        th:class="${#strings.endsWith(menuItem.href, location) ? 'active item' : 'item'}"
                        itemprop="url" th:title="'Open Page ' + ${menuItem.label}" th:text="${menuItem.label}"
                        th:href="${menuItem.fullHref}">Menu Item</a>

                    <div th:if="${menuItem.hasChildItems}" class="ui simple dropdown item">
                        <!--a th:text="${menuItem.label}" th:href="${menuItem.href}"></a--><!-- Compare + Adjust Menu Above -->
                        <span th:text="${menuItem.label}"></span>
                        <i class="icon dropdown"></i>

                        <div class="menu">
                            <a th:class="${#strings.endsWith(childItem.href, location) ? 'active item' : 'item'}"
                                 th:each="childItem : ${menuItem.childMenuItems}"
                                 th:href="${childItem.fullHref}"
                                 th:text="${childItem.label}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right menu">
                <div class="ui right aligned category search item">
                    <div class="ui transparent inverted icon input">
                        <input class="prompt" type="text" placeholder="Search..." />
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

        </div>
    </div>
</div>
