
<!-- Section Rendering Switch -->
<div th:fragment="section-switch (section)">
    <!-- Webpage Sections Below Standard HTML Content -->
    <div th:if="${#strings.equals(section.layoutName, 'two-columns')}">
        <div th:replace="fragments/sections :: 2-columns-equal (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'n-columns')}">
        <div th:replace="fragments/sections :: n-equal-padded (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'two-and-n-columns')}">
        <div th:replace="fragments/sections :: 2-and-n-equal-padded (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'ten-six-grid')}">
        <div th:replace="fragments/sections :: ten-six-grid (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'accordion-styled')}">
        <div th:replace="fragments/sections :: accordion-styled (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'single-tile')}">
        <div th:replace="fragments/sections :: single-tile (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'quote-tiles')}">
        <div th:replace="fragments/sections :: quote-tiles (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'contact-form')}">
        <div th:replace="fragments/contact-form :: contact-form-full (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'map-widget')}">
        <div th:replace="fragments/mapbox-widget :: mapbox-widget-full (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'embed')}">
        <div th:replace="fragments/sections :: embed-section (${section})" />
    </div>

    <div th:if="${#strings.equals(section.layoutName, 'native-video')}">
        <div th:replace="fragments/sections :: native-video-section (${section})" />
    </div>
</div>

<!-- Stackable Basic Colored (Padding) Segment -->
<div th:fragment="ten-six-grid (section)"
     th:id="${section.anchorId}"
     th:class="'ui vertical basic spaced segment ten-six-columns section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Tile Elements -->
    <div class="ui container text">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Ten Six Section Title
        </h1>
    </div>
    <div class="ui stackable grid basic container segment">
        <div class="ui row">
            <div th:if="${iterator.index} == 0" th:class="'ten wide column tile tile-background-' + ${content.id}"
                 th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
                 th:each="content, iterator : ${section.contents}" th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'">
                <!-- Inline Tile Styles -->
                <div th:replace="fragments/inline-styles :: tile-background (${content})" />
                <h2 class="ui header" th:text="${content.title}">Column Header A</h2>
                <!-- Tiles -->
                <div th:utext="${content.html}">
                    Ten Wide
                </div>
            </div>
            <div th:if="${iterator.index} == 1" th:class="'six wide column tile tile-background-' + ${content.id}"
                 th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
                 th:each="content, iterator : ${section.contents}"
                 th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'">
                <!-- Inline Tile Styles -->
                <div th:replace="fragments/inline-styles :: tile-background (${content})" />
                <!-- Tiles -->
                <h2 class="ui header" th:text="${content.title}">Column Header B</h2>
                <div th:utext="${content.html}">
                    Six Wide
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stackable Segment with Border, N-Columns Equal Padded Width Columns -->
<div th:fragment="n-equal-padded (section)"
     th:id="${section.anchorId}"
     th:class="'ui segment n-columns section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Title -->
    <div class="ui container text" th:if="${section.title}">
        <h1 class="ui header" th:text="${section.title}">
            Equal Columns Section Title
        </h1>
    </div>
    <!-- Tile Elements -->
    <div class="ui equal width stackable grid">
        <div th:class="'column tile tile-background-' + ${content.id}"
             th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
             th:each="content, iterator : ${section.contents}"
             th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />
            <!-- Tile -->
            <h2 class="ui header" th:text="${content.title}">Section Title</h2>
            <div th:utext="${content.html}">
                Tile
            </div>
       </div>
    </div>
</div>

<!-- Unstackable Basic 2 Column Grid - No Title - Equal Width Padded -->
<div th:fragment="2-columns-equal (section)"
     th:id="${section.anchorId}"
     th:class="'ui basic segment two-columns-equal no-padding section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Tile Elements -->
    <div class="ui container text">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Two and N Equal Columns Section title
        </h1>
    </div>
    <div class="ui equal width stackable container grid">
        <div th:if="${iterator.index} == 0" th:class="'column tile tile-background-' + ${content.id}"
             th:each="content, iterator : ${section.contents}"
             th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
             th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />
            <!-- Tiles -->
            <h2 class="ui header"
                th:if="${not #strings.isEmpty(content.title)}"
                th:text="${content.title}">Tile Title A</h2>
            <div th:utext="${content.html}" class="tile-content tc">
               Tile A
            </div>
        </div>
        <div th:if="${iterator.index} == 1" th:class="'column tile tile-background-' + ${content.id}"
             th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
             th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'"
             th:each="content, iterator : ${section.contents}">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />
            <!-- Tiles -->
            <h2 class="ui header"
                th:if="${not #strings.isEmpty(content.title)}"
                th:text="${content.title}">'Tile Title B</h2>
            <div th:utext="${content.html}" class="tile-content tc">
               Tile B
            </div>
        </div>
    </div>
</div>

<!-- Stackable No Border Segment, 2 and N-Column Equal Width Columns Padded -->
<div th:fragment="2-and-n-equal-padded (section)"
     th:id="${section.anchorId}"
     th:class="'ui two-n-columns basic segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Tile Elements -->
    <div class="ui container text">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Two and N Equal Columns Section title
        </h1>
    </div>
    <div class="ui equal width stackable grid padded">
        <div class="row first">
            <div th:if="${iterator.index} == 0" th:class="'column tile tile-background-' + ${content.id}"
                 th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
                 th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'"
                 th:each="content, iterator : ${section.contents}">
                <!-- Inline Tile Styles -->
                <div th:replace="fragments/inline-styles :: tile-background (${content})" />
                <!-- Tiles -->
                <h2 class="ui header" th:text="${content.title}">Section Title A</h2>
                <div th:utext="${content.html}">
                   Tile A
                </div>
            </div>
            <div th:if="${iterator.index} == 1" th:class="'column tile tile-background-' + ${content.id}"
                 th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
                 th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'"
                 th:each="content, iterator : ${section.contents}">
                <!-- Inline Tile Styles -->
                <div th:replace="fragments/inline-styles :: tile-background (${content})" />
                <!-- Tiles -->
                <h2 class="ui header" th:text="${content.title}">Section Title B</h2>
                <div th:utext="${content.html}">
                   Tile B
                </div>
            </div>
        </div>

        <div class="row second">
            <div th:if="${iterator.index} > 1" th:class="'column tile tile-background-' + ${content.id}"
                 th:onclick="${not #strings.isEmpty(content.link)} ? 'visit_page(\'' + ${content.link} + '\')' : 'zero();'"
                 th:classappend="${not #strings.isEmpty(content.link)} ? 'clickable' : ''"
                 th:each="content, iterator : ${section.contents}">
                <!-- Inline Tile Styles -->
                <div th:replace="fragments/inline-styles :: tile-background (${content})" />
                <!-- Tiles -->
                <h2 class="ui header" th:text="${content.title}">Section Title</h2>
                <div th:utext="${content.html}">
                    Tile C, D, E, ..
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Accordion Section -->
<div th:fragment="accordion-styled (section)"
     th:id="${section.anchorId}"
     th:class="'ui basic spaced accordion-section segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Headline -->
    <div class="ui container text">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Accordion Title
        </h1>
    </div>
    <!-- Tile Elements -->
    <div class="ui styled fluid accordion container text">
        <div th:each="content, iterator : ${section.contents}">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />
            <!-- Tiles -->
            <div class="title">
                <i class="dropdown icon arrow circle down"></i>
                <span th:text="${content.title}">Section Title</span>
            </div>
            <div class="content" th:utext="${content.html}">
              <p>Tile</p>
            </div>
        </div>
    </div>
</div>

<!-- Single Tile Section -->
<div th:fragment="single-tile (section)"
     th:id="${section.anchorId}"
     th:class="'ui basic spaced single-tile segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">

    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />

    <!-- Section Headline -->
    <div class="ui container text">
        <h1 class="ui header"
            th:if="${not #strings.isEmpty(section.title)}"
            th:text="${section.title}">
            Section Title
        </h1>
    </div>

    <!-- Single Tile Container Boxes -->
    <div class="ui container text">
        <div th:each="content, iterator : ${section.contents}" class="tile-row">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />

            <!-- Related Topic Rendering -->
            <div th:if="${content.relatedTopic}" class="tile-content tc">
                <!-- File Topic Rendering as Show File Link -->
                <div th:if="${#strings.equals(content.relatedTopic.typeUri, 'dmx.files.file')}" th:class="${content.relatedTopic.typeUri}">
                    <a th:href="'/files/file/' + ${content.relatedTopicFilePath}" class="ui action button icon basic"
                       th:title="'Show File, Size: ' + ${content.relatedTopicFileSize} + ' Media Type: ' + ${content.relatedTopicFileMediaType}">
                        <i class="icon file alternate outline"></i>
                        <span th:text="${content.relatedTopic.simpleValue}">Filename</span>
                    </a>
                </div>
                <!-- Other Type Specific Rendering -->
                <div th:if="${not #strings.equals(content.relatedTopic.typeUri, 'dmx.files.file')}" th:class="${content.relatedTopic.typeUri}" 
                    class="content" th:utext="${content.relatedTopic.simpleValue}">
                    <p>Topic Title</p>
                </div>
            </div>

            <!-- Standard Tile Content Rendering -->
            <div th:if="${not content.relatedTopic}" class="tile-content tc">
                <!-- Tiles -->
                <h2 th:if="${not #strings.isEmpty(content.title)}" class="title" th:text="${content.title}">
                  Tile Title
                </h2>
                <div class="content" th:utext="${content.html}">
                  <p>Tile Content</p>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Stackable Segment with 2-Quote Columns per Row -->
<div th:fragment="quote-tiles (section)"
     th:id="${section.anchorId}"
     th:class="'ui stripe quote segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Title -->
    <div class="ui container text" th:if="${not #strings.isEmpty(section.title)}">
        <h1 class="ui header" th:text="${section.title}">
            Quote Section Title
        </h1>
    </div>
    <div class="ui equal width stackable grid quote">
        <div th:class="'column tile tile-background-' + ${content.id}"
             th:each="content, iterator : ${section.contents}">
            <!-- Inline Tile Styles -->
            <div th:replace="fragments/inline-styles :: tile-background (${content})" />
            <!-- Tiles -->
            <div class="tile-content tc">
                <h2 th:text="${content.title}" class="title">Quote 1 &amp; 2</h2>
                <div th:utext="${content.html}">
                   Author A
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Embed Section -->
<div th:fragment="embed-section (section)"
     th:id="${section.anchorId}"
     th:class="'ui stripe embed segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Title -->
    <div th:if="${not #strings.isEmpty(section.title)}">
        <div class="ui embed"
             th:attr="data-source=vimeo,data-id=${section.title}">
        </div>
    </div>
</div>

<!-- Native Video Embed -->
<div th:fragment="native-video-section (section)"
     th:id="${section.anchorId}"
     th:class="'ui stripe native-embed segment section-bg-' + ${section.id} + ' ' + ${section.customClassName}">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <div th:if="${section.relatedTopic}">
        <!--embed th:src="'/files/file/' + ${section.relatedTopicFilePath}"
               th:type="${section.relatedTopicFileMediaType}" autoplay="false"
               class="" accesskey="" width="100%" height="auto" bgcolor="#ffffff" /-->
        <video controls="controls" muted="true" name="media" preload="none"
               poster="/files/file//Images/Porsche-Video-Referenzposter-1916.jpg">
            <source th:src="'/files/file/' + ${section.relatedTopicFilePath}"
               th:type="${section.relatedTopicFileMediaType}" />
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a th:href="'/files/file/' + ${section.relatedTopicFilePath}">download it</a>
            and watch it with your favorite video player!
         </video>
    </div>
</div>
