
<!-- Stackable Basic Colored (Padding) Segment -->
<div th:fragment="ten-six-grid (section)" class="ui vertical basic spaced segment ten-six-columns section-bg">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Content Elements -->
    <div class="ui container">
        <h1 class="ui header aligned center" th:text="${section.title}">
            Ten Six Section Title
        </h1>
    </div>
    <div class="ui container stackable grid basic segment">
        <div class="ui row">
            <div th:if="${iterator.index} == 0" class="ten wide column"
                 th:each="element, iterator : ${section.contents}">
                <h2 class="ui header" th:text="${element.simpleValue}">Column Header A</h2>
                <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
                    Ten Wide
                </div>
            </div>
            <div th:if="${iterator.index} == 1" class="six wide column"
                 th:each="element, iterator : ${section.contents}">
                <h2 class="ui header" th:text="${element.simpleValue}">Column Header B</h2>
                <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
                    Six Wide
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stackable Segment with Border, n-Columns Equal Width Columns -->
<div th:fragment="n-equal-padded (section)" class="ui vertical segment n-columns section-bg">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Content Elements -->
    <div class="ui container">
        <h1 class="ui header aligned center" th:text="${section.title}">
            Equal Columns Section Title
        </h1>
    </div>
    <div class="ui equal width center aligned stackable grid padded">
        <div class="column" th:each="element, iterator : ${section.contents}">
           <h2 class="ui header" th:text="${element.simpleValue}">Section Title</h2>
           <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
               Section Content
           </div>
       </div>
    </div>
</div>

<!-- Unstackable Basic 2 Column Grid Equal Width Padded -->
<div th:fragment="2-columns-equal (section)" class="ui vertical basic segment two-columns-equal section-bg no-padding">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Content Elements -->
    <div class="ui equal width grid padded">
        <div th:if="${iterator.index} == 0" class="column"
             th:each="element, iterator : ${section.contents}">
            <h2 class="ui header" th:text="${element.simpleValue}">Section Title A</h2>
            <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
               Section Content A
            </div>
        </div>
        <div th:if="${iterator.index} == 1" class="column"
             th:each="element, iterator : ${section.contents}">
            <h2 class="ui header" th:text="${element.simpleValue}">Section Title B</h2>
            <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
               Section Content B
            </div>
        </div>
    </div>
</div>

<!-- Stackable No Border Segment, 2 and N-Column Equal Width Columns Padded -->
<div th:fragment="2-and-n-equal-padded (section)" class="ui vertical two-n-columns basic section-bg segment">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />

    <!-- Section Content Elements -->
    <div class="ui container">
        <h1 class="ui header aligned center" th:text="${section.title}">
            Two and N Equal Columns Section title
        </h1>
    </div>
    <div class="ui equal width stackable grid padded">

        <div class="row first">
            <div th:if="${iterator.index} == 0" class="column"
                 th:each="element, iterator : ${section.contents}">
                <h2 class="ui header" th:text="${element.simpleValue}">Section Title A</h2>
                <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
                   Section Content A
                </div>
            </div>
            <div th:if="${iterator.index} == 1" class="column"
                 th:each="element, iterator : ${section.contents}">
                <h2 class="ui header" th:text="${element.simpleValue}">Section Title B</h2>
                <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
                   Section Content B
                </div>
            </div>
        </div>

        <div class="row second">
            <div th:if="${iterator.index} > 1" class="column" th:each="element, iterator : ${section.contents}">
                <h2 class="ui header" th:text="${element.simpleValue}">Section Title</h2>
                <div th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
                    Section Content C, D, E, ..
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Dummy Accordion Section -->
<div th:fragment="accordion-styled (section)" class="ui basic spaced container accordion-section section-bg segment">
    <!-- Inline Section Styles -->
    <div th:replace="fragments/inline-styles :: section-background (${section})" />
    <!-- Section Headliine -->
    <div class="ui container">
        <h1 class="ui header aligned center" th:text="${section.title}">
            Accordion Title
        </h1>
    </div>
    <!-- Section Content Elements -->
    <div class="ui styled fluid accordion">
        <div th:each="element, iterator : ${section.contents}">
            <div class="title" th:text="${element.simpleValue}">
              Section Title
            </div>
            <div class="content" th:utext="${element.childTopics.getString('de.mikromedia.section.html')}">
              <p>Section content</p>
            </div>
        </div>
    </div>
</div>
