
/** 
 * The filename of this styleshee is due to support for legacy installations
 * (and the layzness to write a simple migration...)
 **/

/** -- New Semantic UI Custom Styled 2.3.1 Release -- **/

/** @import url('/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.css'); **/
@import url('/de.mikromedia.webpages/css/semantic-ui/dist/semantic.min.css');


.ui.menu .search.item .results a,
.ui.menu .menu-items a,
.ui.footer.segment .site-link a {
    text-decoration: none;
}

.ui.vertical.menu.sidebar .item > img.logo {
    width: 66%;
    height: auto;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

/** .red {
    color: #ff1958;
}

.light-red {
    color: #ffa4bd;
} **/

#header-page-nav img.logo,
#lower-page-nav img.logo {
    height: 32px;
    width: auto;
}

.ui.menu .input > input,
.ui.vertical.inverted.menu .menu .item,
.ui.menu .item,
.ui.inverted.menu .item {
    font-weight: 700;
    line-height: 1.5em;
}

.sidebar.ui.vertical.inverted.menu .menu .item {
    font-size: 1.75em;
    padding-left: 1.15em;
}

.ui.transparent.icon.input > input {
    padding-left: .5em !important;
}

.ui.sidebar .ui.category.search .results {
    font-size: 1.25em;
    width: 100%;
}

.ui.menu .search.item .results a:hover,
.page.front .segment .ui.text a {
    text-decoration: underline;
}

/** Semantic UI Overrides **/

.ui.segment a[target="_blank"]::after {
    content: "  \29C9";
    /** content: "\2750"; **/
}

.two-columns-equal .tc p img {
    width: 100%;
    height: auto;
}

.ui.segment .ui.text.container table,
.ui.segment .ui.text.container p,
.ui.segment .ui.text.container ul,
.ui.segment.tile table,
.ui.segment.tile ul,
.ui.segment.tile p {
    font-size: 1.25rem
}

.ui.footer.segment.striped {
    padding-top: 1em;
    padding-bototm: 1em;
}

.ui.footer.segment .ui.container.text {
    position: relative;
}

.footer.segment .footer-links .submenu,
.ui.footer.segment .ui.container.text p {
    font-size: 1rem;
}

.footer.segment .footer-links .submenu {
    display: inline-block;
    top: -11px;
    position: relative;
}

.footer.segment .footer-links .logo {
    width: 75px;
    height: auto;
    position: relative;
    left: -5px;
    text-decoration: none;
}

.footer.segment .footer-links {
    display: inline-block;
}

.footer.segment .footer-links a {
    margin-right: 2em;
}

.ui.segment.tile {
    font-size: 2rem;
}

.ui.segment h1.ui.header {
    font-size: 2.5rem;
    margin: 1em 0em 0em 0em;
}

.ui.segment h2.ui.header {
    font-size: 1.5rem;
}

header.ui.segment.masthead h1.ui.header {
    font-size: 4em;
    margin-top: 5.5em;
    font-weight: 700;
}

header .page-buttons {
    margin-top: 2.5em;
    margin-bottom: 2em;
}

header.ui.masthead .page-buttons,
header.ui.masthead .headline,
header.ui.masthead .ui.header {
    text-align: left;
}

.ui.footer.segment .ui.header {
    color: #fff;
}

.page.front .segment.posts article .ui.header a {
    color: #b7d9cb;
    text-decoration: none;
}

.page.front .segment.posts article .ui.header a:hover {
    color: #2b293f;
}

.blockquote {
    color: #8c8c8c;
    padding-left: 1em;
    padding-right: 2em;
    border-left: 3px solid #d7d7d7;
}

.tile-content figure {
    margin: 0em;
    margin-top: 1.5em;
}

.text caption,
.tile-content figure figcaption {
    font-size: 1em;
    color: #d7d7d7;
    padding: 0.7em;
}

.ui.vertical.stripe.main-segment {
    padding: 4em 0em 4em 0em;
}

.ui.vertical.stripe.bottom-segment {
    padding: 0em 0em 2em 0em;
}

.metadata {
    color: transparent;
}

.metadata:hover {
    color: #8c8c8c;
}

.ui.inverted.footer.segment {
    background-color: #2b293f;
}

.case-studies .ui.segment.single-tile .tc .content {
    margin-top: 2em;
}

.case-studies .ui.segment.single-tile .tile-row h1,
.case-studies .ui.segment.single-tile .tile-row h2 {
    margin-top: 0em;
}

.body .ui.segment.main-segment.posts h1.ui.header {
    margin-bottom: 0.25em;
}

.people .ui.segment.main-segment h3 {
    margin-top: 4em;
}

body.page .ui.spaced.single-tile.segment.section-bg-58311 {
    padding-bottom: 1em;
}

@media only screen and (max-width: 700px) {
    .ui.segment.main-segment.posts {
        padding: 4em 1em 4em 1em;
    }
    .footer.segment .footer-links a {
       margin-right: 1em;
    }
}