
@-o-viewport {
    width: device-width;
    zoom: 1;
}

// ------------------------------------------------------- Basic page styles

body, .serif {
    font-size: 16px;
    font-family: "Cambria", "Georgia", "Times", serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

textarea, input, select {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body.page {
    margin: 15px;
}

.page .logo {
    margin: auto;
}

.page .debug {
    display: none;
}

.page select,
.page input[type="button"],
.page button {
    cursor: pointer;
}

.page select,
.page textarea,
.page input {
    padding-left: 7px;
    padding: 4px;
}

.page textarea {
    width: 75%;
}

.page .footer {
    margin-top: 50px;
}

.denied .footer {
    opacity: .3;
}

html, body {
    height: 100%;
    background-color: #EAEAEA;
}

h3 {
    color: #002856;
}

.leaflet-container a {
    color: #002856;
}

.leaflet-container a:hover {
    color: #8F1414;
}

a {
    color: #002856;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}


// ----------------------------------- Leaflet specific styles


.leaflet-popup-content-wrapper .item {
    border-bottom: 2px solid #e9e9e9; padding: 5px;
    cursor: pointer; margin-top: 2px;
}

.leaflet-left .leaflet-control {
    margin-left: 0px;
    /** border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; **/
}

.leaflet-control-zoom a {
    background-color: #fff;
    padding: 3px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.leaflet-control-zoom {
    /* background-color: #388fd0; **/
    background: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.leaflet-editing-icon.leaflet-move {
    cursor: move;
}

.leaflet-editing-icon.leaflet-radius {
    cursor: ew-resize;
}

.leaflet-radius-control {
    cursor: auto;
}

.leaflet-tile {
    filter: blur(3px);
}
.leaflet-tile.leaflet-tile-loaded {
    filter: blur(0);
    transition: .3s all ease-in;
}

.leaflet-control-zoom.leaflet-control {
    margin-top: 15px;
    z-index: 98;
}

.leaflet-container g path {
    transition: fill .75s;
}

/** Portrait, most smartphones. */
@media(min-width: 1600px) {

}

@media(max-width: 1200px) {
    .page textarea {
       width: 95%;
    }
}

@media(max-width:900px) {
    #header .welcome p {
        width: 75%;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 15px;
    }
}

@media (max-width:600px) {
    #header {
        top: 10px;
        text-align: left;
    }
    #header .welcome p {
        display: inline-block;
        width: 100%;
        margin-bottom: 0px;
    }
}

@media (max-height:810px) {

}
