
/** @-o-viewport {
    width: device-width; zoom: 1;
} **/

/** --------------------------------------------------- Basic page styles */


html, body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    height: 100%;
    color: #232323;
}

body, .serif {
    font-size: 16px;
    font-family: "Cambria", "Georgia", "Times", serif;
}

.page.front {
    background-color: #EAEAEA;
}

header {
    padding: 1em 2em 1em;
    background-color: #EAEAEA;
}

header h1 {
    margin-bottom: 0em;
}

.page header h1 {
    color: #002856;
}

.page.front header h1 {
    color: #343434;
}

h3 {
    color: rgba(0, 40, 86, 0.95);
    font-size: 1.3em;
}

a {
    font-weight: normal;
    color: #002856;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

article .text a:hover {
    color: #8f1414;
}

.value {
    color: #232323;
}

h3 .value {
    color: #232323;
    margin-left: 0.5em;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}

header .value {
    font-size: 1.2em;
}

.label {
    margin-right: 4px;
}

.pages-menu {
    position: relative;
    font-size: 1.2em;
    text-align: left;
    margin: auto;
    padding: 1em 1em 0em;
}

.pages-menu ul {
    list-style-type: none;
    font-size: 1.2em;
    padding-left: 0px;
}

.pages-menu ul li {
    display: inline-block;
    margin: 1em 0.5em;
}

.front .pages-menu ul li a {
    background-color: #fff;
}

.pages-menu ul li a {
    text-decoration: none;
    padding: 0.5em 0.7em 0.5em;
    background-color: #EAEAEA;
}

.pages-menu ul li:hover a {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

textarea,
input,
select,
.story,
.sans {
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

textarea,
input,
select,
option {
    padding: 4px 0.5em 4px;
}

.index,
.main {
    padding: 1em 2em 1em;
    background-color: #EAEAEA;
}

header .text,
article .text {
    margin-bottom: 50px;
    line-height: 1.5em;
    font-size: 1.2em;
}

article .text pre.code-block {
    font-family: "Courier New";
    color: rgb(0, 40, 86);
    background-color: #fff;
    padding: 1em;
    border: 1px solid rgba(0, 40, 86, 0.4);
    font-size: .8em;
}

article .text .blockquote {
    margin-left: 0px;
    font-style: italic;
    font-size: 1.2em;
    padding: 1em;
}

.metadata h3,
.metadata {
    color: #464646;
    margin-bottom: 1em;
}

.logo {
    margin: auto;
}

.debug {
    display: none;
}

.padding {
    padding: 1em;
}

.center {
    text-align: center;
}

select,
input[type="button"],
button {
    cursor: pointer;
}

.not-found footer,
.denied footer {
    opacity: .3;
}

footer .main {
    background-color: #fff;
}

/** Portrait, most smartphones. */
@media(min-width: 1600px) {

}

@media(max-width: 1200px) {
    .page textarea {
       width: 95%;
    }
}

@media(max-width:900px) {
    header p {
        width: 75%;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 1em;
    }
    article .text img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:600px) {
    header {
        top: 10px;
    }
    header p {
        display: inline-block;
        width: 100%;
        margin-bottom: 0px;
    }
}
