<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Access denied (401) - ' + ${siteName}">Access denied - 401</title>

        <meta charset="utf-8" />
        <meta itemprop="name" content="Access denied"/>
        <meta itemprop="description" content="Access denied"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link media="all" th:href="${customSiteCss}" rel="stylesheet" />
        <link media="all" th:href="${customPageCss}" th:if="${!#strings.isEmpty(customPageCss)}" href="" rel="stylesheet" />

    </head>
    <body class="page not-found">

        <header>
            <div class="welcome">
                <h1>401</h1>
                <h3>This resource is <em>not published</em>.</h3>
            </div>
        </header>

        <article itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/WebPageElement">
            <div class="main">
                <div class="text" itemprop="text" th:utext="${message}"></div>
            </div>
        </article>

        <footer>
            <div class="main" th:utext="${footerText}"></div>
            <div class="debug" itemprop="isPartOf" itemscope="" itemtype="http://schema.org/WebSite">
                <meta itemprop="name" th:content="${siteName}"/>
                <meta th:if="${!#strings.isEmpty(siteCaption)}" itemprop="alternateName" th:content="${siteCaption}"/>
                <meta th:if="${!#strings.isEmpty(siteAbout)}" itemprop="description" th:content="${siteAbout}"/>
                <meta itemprop="url" th:content="${hostUrl} + ${username}"/>
            </div>
        </footer>

    </body>
</html>
