<!DOCTYPE html>
<html>
    <head>
        <title>Access denied - 401</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
        
        <link media="all" href="/de.mikromedia.pages/css/sitestyle.css" rel="stylesheet" />

    </head>
    <body class="page denied">
        
        <div id="header">
            <div class="welcome">
                <h1>401</h1>
                <h3>This page is currently <em>not published</em>.</h3>
            </div>
            <!--div id="map"></div-->
        </div>
        
        <div class="story">
            <div class="text"></div>
        </div>

        <div class="footer" th:utext="${footerText}"></div>

    </body>
</html>
