<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Page not found (404) - ' + ${siteName}">Page not found - 404</title>

        <meta charset="utf-8" />
        <meta itemprop="name" content="Page not found"/>
        <meta itemprop="description" content="Page not found"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link media="all" th:href="${customSiteCss}" rel="stylesheet" />
        <link media="all" th:href="${customPageCss}" th:if="${!#strings.isEmpty(customPageCss)}" href="" rel="stylesheet" />

        <link media="all" href="/de.mikromedia.webpages/css/semantic-ui.css" rel="stylesheet" />
        <!--link media="all" href="/de.mikromedia.webpages/jquery/jquery-ui-1.12.1-kiezatlas.min.css"></link-->

        <script defer="true" src="/de.mikromedia.webpages/jquery/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script defer="true" src="/de.mikromedia.webpages/css/semantic.min.js"></script>
        <!--script defer="true" src="/de.mikromedia.webpages/css/semantic-ui/search.min.js"></script>
        <script defer="true" src="/de.mikromedia.webpages/css/semantic-ui/transition.min.js"></script>
        <script defer="true" src="/de.mikromedia.webpages/css/semantic-ui/dropdown.min.js"></script-->
        <script defer="true" src="/de.mikromedia.webpages/js/page-methods.js" onload="render_page()"></script>

    </head>
    <body class="page not-found">

        <nav class="ui vertical fixed" th:include="fragments/navigation :: search"></nav>

        <header>
            <div class="welcome">
                <h1>404</h1>
                <h3>Sorry, we couldn't find any page at this resource.</h3>
            </div>
        </header>

        <article itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/WebPageElement">
            <div class="main">
                <div class="text" itemprop="text" th:utext="${message}"></div>
            </div>
        </article>

        <footer>
            <div class="main" th:utext="${footerText}"></div>
            <div class="debug" itemprop="isPartOf" itemscope="" itemtype="http://schema.org/WebSite">
                <meta itemprop="name" th:content="${siteName}"/>
                <meta th:if="${!#strings.isEmpty(siteCaption)}" itemprop="alternateName" th:content="${siteCaption}"/>
                <meta th:if="${!#strings.isEmpty(siteAbout)}" itemprop="description" th:content="${siteAbout}"/>
                <meta itemprop="url" th:content="${hostUrl} + ${username}"/>
            </div>
        </footer>

    </body>
</html>

