<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Internal Server Error (500) - ' + ${siteName}">Internal server error - 500</title>

        <meta charset="utf-8" />
        <meta itemprop="name" content="Internal server error"/>
        <meta itemprop="description" content="Internal server error"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- ### meta itemprop="license" content="respectiveLicenseUrl" /-->

        <link media="all" href="/de.mikromedia.webpages/css/semantic-ui/dist/semantic.min.css" rel="stylesheet" />
        <link media="all" href="/de.mikromedia.webpages/css/semantic-ui-overrides.css" rel="stylesheet" />
        <!--link media="all" th:href="${customSiteCss}" rel="stylesheet" /-->

        <script src="/de.mikromedia.webpages/jquery/jquery-3.2.1.min.js"></script>
        <script src="/de.mikromedia.webpages/css/semantic-ui/dist/semantic.min.js"></script>
        <script src="/de.mikromedia.webpages/js/page-methods.js" onload="render_page()"></script>
        <script>
            $(document).ready(function () {
                // fix menu when passed
                $('.masthead').visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    })

                // create sidebar and attach to menu open
                $('.ui.sidebar').sidebar('attach events', '.toc.item')
                render_page()
            })
        </script>
        <meta th:replace="fragments/tracker" />
    </head>
    <body class="page denied">

        <!-- Following Menu -->
        <div class="ui large top fixed hidden menu inverted">
            <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>
        </div>

        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu">
            <nav id="sidebar-nav" class="ui container" th:include="fragments/navigation :: vertical-nav"></nav>
        </div>

        <!-- Page Contents -->
        <div class="pusher">

            <header class="ui inverted vertical masthead center aligned segment">

                <nav id="header-page-nav" class="ui container" th:include="fragments/navigation :: standard-nav"></nav>

                <div class="ui text container">
                    <h1 class="ui inverted header" itemprop="headline">500</h1>
                    <h3>Sorry, the server encountered an internal error.</h3>
                </div>

            </header>

            <div class="ui vertical stripe segment">

                <article itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/WebPageElement">
                    <div class="main">
                        <div class="text" itemprop="text" th:utext="${message}"></div>
                    </div>
                </article>

            </div>

            <div class="ui inverted vertical footer segment">

                <div class="ui container">

                    <div class="site-link" th:include="fragments/widgets :: footer-site-link"></div>
                    
                    <div class="footer" th:include="fragments/footer :: footer-new"></div>

                    <div class="debug" itemprop="isPartOf" itemscope="" itemtype="http://schema.org/WebSite">
                        <meta itemprop="name" th:content="${siteName}"/>
                        <meta th:if="${!#strings.isEmpty(siteCaption)}" itemprop="alternateName" th:content="${siteCaption}"/>
                        <meta th:if="${!#strings.isEmpty(siteAbout)}" itemprop="about" th:content="${siteAbout}"/>
                        <link itemprop="url" th:href="${hostUrl} + ${website}"/>
                        <meta itemprop="description" th:content="${footerText}"></meta>
                        <meta id="siteId" th:content="${siteId}"></meta>
                    </div>

                </div>

            </div>
            
        </div>

    </body>
</html>
