<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
        
        <link media="all" href="/de.mikromedia.webpages/css/sitestyle.css" rel="stylesheet" />

    </head>
    <body class="page welcome">
        
        <div id="header">
            <div class="welcome">
                <h1>Ok</h1>
                <h3>This the default <em>dm4-pages</em> frontpage.</h3>
            </div>
            <!--div id="map"></div-->
        </div>
        
        <div class="story">
            <div class="text" th:text="${message}"></div>
        </div>

        <div class="footer" th:utext="${footerText}"></div>

    </body>
</html>
