<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
        
        <link media="all" href="/de.mikromedia.webpages/css/sitestyle.css" rel="stylesheet" />

        <script type="text/javascript">
            /** ### Fetch all published pages from "/page" endpoint, show a simple list and link items. **/
        </script>

    </head>
    <body class="page welcome">
        
        <div id="header">
            <div class="welcome">
                <h1>Hello,</h1>
                <h3>this the default frontpage of the <em>dm4-webpages</em> module.</h3>
            </div>
        </div>

        <div class="story">
            <p>
                If you want to replace this webpage with your  content you could simply create a
                <em>Webpage Redirect</em> topic when logged into the <a
                    href="/de.deepamehta.webclient/">webclient</a> as "admin" and set its <em>Redirect
                Alias</em> to <b>/</b> and let the <em>Redirect Target URL</em> point to any of your existing resource.
            </p>
            <p>
                As a developer of a DeepaMehta 4 Plugin you could do serve your page here through calling the
                WebpagePluginService from your Plugin implementation:
            </p>
            <blockquote><p>WebpagePluginService webpageService.setFrontpageResource('/web/index.html')</p></blockquote>
            <p>
                Note: This does not affect webpages you already published. They are available under their respective
                web alias, e.g. <em>http://www.domain.xyz/<b>/my-web-alias</b></em>.
            </p>
            <p>
                The curent development here is that there is not yet an automatic index of all your pages, except <a
                    href="/admin/page">that one in JSON</a>.
            </p>
            <p>
                This is mainly due to keep up all possibility for you and other plugins to register their own
                frontpage with the <em>dm4-webpages</em> plugin.
            </p>
            <p>
                Enjoy web-publishing with DeepaMehta 4!
            </p>
              <!-- This template is currently never processed by thymeleaf ... @see getFrontpageView
              div th:each="page : ${pages}" th:class="${pageStat.odd}? 'odd'">
                <span th:text="${page.pageTitle}">Title of page</</span><br/>
                <span th:text="${prod.price}">2.41</</span><br/>
                <span th:text="${prod.inStock}? #{true} : #{false}">yes</span><br/>
              </div-->
        </div>

        <div class="footer" th:utext="${footerText}">
            <br/><h3>Attribution</h3>Published based on the <a href="http://github.com/mukil/dm4-webpages" title="dm4-webpages Website">dm4-webpages</a> module written by <a href="http://www.mikromedia.de">Malte Rei&szlig;ig</a>, 2015.
        </div>

    </body>
</html>
