
/** -- Imports Fomantic UI Custom Styled 2.8.4 Release -- **/

@import url('/de.mikromedia.webpages/static/css/fomantic-ui/dist/semantic.min.css');

.ui.menu .search.item .results a,
.ui.menu .menu-items a,
.ui.footer.segment .site-link a {
    text-decoration: none;
}

body,
.ui.text.container {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

.ui.header,
.ui.button,
h1, h2, h3, h4, h5, h6,
.ui.category.search > .results .category > .name {
    font-family: "Century Gothic", "Apple Gothic", "URW Gothic L", sans-serif;
}

.ui.vertical.menu.sidebar .item > img.logo {
    width: 66%;
    height: auto;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

/** IASS CI Colors **/

.blue {
    color: #004A99;
}

.blue-bg {
    background-color: #004A99;
}

.green {
    color: #94AC3C;
}

.green-bg {
    background-color: #94AC3C;
}

.violet {
    color: #660047;
}

.violet-bg {
    background-color: #660047;
}

.red {
    color: #CD201F;
}

.red-bg {
    background-color: #CD201F;
}

.light-blue {
    color: #5bc5ed;
}

.light-blue-bg {
    background-color: #5bc5ed;
}

.medium-blue {
    color: #3B99BB;
}

.medium-blue-bg {
    background-color: #3B99BB;
}

.dark-grey {
    color: #333;
}

.medium-grey {
    color: #e5e5e5;
}

.light-grey {
    color: #f2f2f2;
}

.dark-grey-bg {
    background-color: #333;
}

.medium-grey-bg {
    background-color: #e5e5e5;
}

.light-grey-bg {
    background-color: #f2f2f2;
}

/** ProMUT Project Colors **/

.tale-blue {
    color: #226582;
}

.medium-blue-3 {
    color: #3086ac;
}

.light-blue-3 {
    color: #42bdf4;
}

.light-brown {
    color: #5f4c47;
}

.brown {
    color: #38291e;
}

.tale-blue-bg {
    background-color: #226582;
}

.medium-blue-3-bg {
    background-color: #3086ac;
}

.light-blue-3-bg {
    background-color: #42bdf4;
}

.light-brown-bg {
    background-color: #5f4c47;
}

.brown-bg {
    background-color: #38291e;
}

/** SemanticUI Webpages Tweaks **/

#header-page-nav img.logo {
    height: 36px;
    width: auto;
}

#lower-page-nav img.logo {
    height: 32px;
    width: auto;
}

.ui.menu .input > input,
.ui.vertical.inverted.menu .menu .item,
.ui.menu .item,
.ui.inverted.menu .item {
    font-weight: 700;
    line-height: 1.5em;
}

.sidebar.ui.vertical.inverted.menu .menu .item {
    font-size: 1.5em;
    padding-left: 1.15em;
}

.ui.transparent.icon.input > input {
    padding-left: .33em !important;
    font-size: .9em;
}

.ui.sidebar .ui.category.search .results {
    font-size: 1em;
    width: 100%;
}

.ui.menu .search.item .results a:hover,
.page.front .segment .ui.text a {
    text-decoration: underline;
}

/** External Links are presented as such **/
.ui.segment a[target="_blank"]::after {
    content: "  \29C9";
    padding-right: 0.15em;
    /** content: "\2750"; **/
}

.two-columns-equal .tc p img {
    width: 100%;
    height: auto;
}

.ui.segment .ui.text.container table,
.ui.segment .ui.text.container p,
.ui.segment .ui.text.container ul,
.ui.segment.tile table,
.ui.segment.tile ul,
.ui.segment.tile p {
    font-size: 1.25rem;
    line-height: 1.33em;
}

.ui.footer.segment.striped {
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ui.footer.segment .ui.container.text {
    position: relative;
}

.footer.segment .footer-links .submenu,
.ui.footer.segment .ui.container.text p {
    font-size: 1rem;
}

.footer.segment .footer-links .submenu {
    display: inline-block;
    top: -11px;
    position: relative;
}

.page .footer.segment .text a.logo {
    text-decoration: none;
}

.footer.segment .footer-links .logo img {
    height: auto;
    position: relative;
    left: -5px;
}

.footer.segment .footer-links {
    display: inline-block;
}

.footer.segment .footer-links a {
    margin-right: 2em;
}

.ui.segment {
    padding: 1em 0em;
}

.ui.segment.tile {
    font-size: 2rem;
}

.ui.segment h1.ui.header {
    font-size: 2.5rem;
    margin: 1em 0em 0.25em -0.05em;
}

.ui.segment h2.ui.header {
    font-size: 1.5rem;
}

header.ui.segment.masthead h1.ui.header {
    font-size: 3.5em;
    margin-top: 1em;
    font-weight: 700;
}

header.ui.masthead .page-buttons {
    margin-top: 0em;
    margin-bottom: 2em;
}

header.ui.masthead .ui.text.container {
    margin-bottom: 1em;
}

header.ui.masthead .page-buttons,
header.ui.masthead .headline,
header.ui.masthead .ui.header {
    text-align: left;
}

header.ui.masthead .headline {
    padding-bottom: 1em;
}

.ui.footer.segment .ui.header {
    color: #fff;
}

/** Custom Front Page Article Link Color
.page.front .segment.posts article .ui.header a {
    color: #b7d9cb;
    text-decoration: none;
}

.page.front .segment.posts article .ui.header a:hover {
    color: #2b293f;
} **/

.blockquote {
    color: #8c8c8c;
    padding-left: 1em;
    padding-right: 2em;
    border-left: 3px solid #d7d7d7;
}

.tile-content figure {
    margin: 0em;
    margin-top: 1.5em;
}

.text caption,
.tile-content figure figcaption {
    font-size: 1em;
    color: #d7d7d7;
    padding: 0.7em;
}

.tile-content figure figcaption a {
    color: #d7d7d7;
}

.ui.vertical.stripe.main-segment {
    padding: 0em;
}

.ui.vertical.stripe.bottom-segment {
    padding: 0em 0em 2em 0em;
}

.metadata {
    color: transparent;
}

.metadata:hover {
    color: #8c8c8c;
}

.ui.inverted.footer.segment {
    background-color: #2b293f;
}

.case-studies .ui.segment.single-tile .tc .content {
    margin-top: 2em;
}

.case-studies .ui.segment.single-tile .tile-row h1,
.case-studies .ui.segment.single-tile .tile-row h2 {
    margin-top: 0em;
}

.webpages.front .ui.segment.main-segment {
    padding-top: 1em;
}

.body .ui.segment.main-segment.posts h1.ui.header {
    margin-bottom: 0.25em;
    margin-top: 0em;
}

.people .ui.segment.main-segment h3 {
    margin-top: 4em;
}

@media only screen and (max-width: 990px) {
    .ui.vertical.stripe.main-segment,
    .ui.footer.segment.striped,
    .page .ui.segment {
        padding: 1em 2em;
    }
    .ui.segment.main-segment {
        padding: 1em 1.8em !important;
        padding-bottom: 3em;
    }
}

@media only screen and (max-width: 700px) {
    .footer.segment .footer-links a {
       margin-right: 1em;
    }
    .body .ui.segment.main-segment.posts h1.ui.header {
        margin: 0em;
    }
    .posts article {
        padding-top: 0em;
    }
    .ui.vertical.stripe.main-segment,
    .ui.footer.segment.striped,
    .page .ui.segment {
        padding: 1em 2em;
    }
    .ui.segment.main-segment {
        padding: 1em 1.8em !important;
        padding-bottom: 3em;
    }
    header nav.ui.container {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
    .page .ui.segment.masthead .ui.header {
        padding: 0em 0em .6em .2em;
    }
    .ui.text.container .tile-content .content img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    #header-page-nav .ui.inverted.menu .item:not(.dropdown) {
        max-width: 175px;
    }
    #header-page-nav.ui.icontainer {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

@media only screen and (max-width: 440px) {
    .footer.segment .footer-links .submenu {
        top: 5px;
    }
}
