
/** -- Imports Fomantic UI Custom Styled 2.8.4 Release -- **/

@import url('/de.mikromedia.webpages/static/css/fomantic-ui/dist/semantic.min.css');

/** IASS Webfonts **/
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('./openfonts/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
         url('./openfonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
         url('./openfonts/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('./openfonts/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: TradeGothicLTPro;
  src: local("TradeGothic LT Bold Regular"), local("TradeGothic-LT-Bold-Regular"), local("TradeGothicLTBoldRegular"), local("Trade-Gothic-LT-Bold-Regular"), local("tradegothicltboldregular"), local("trade-gothic-lt-bold-regular"),
  url("./fonts/TradeGothicLT-Pro-Bold-33D730_0_0.woff2") format("woff2"),
  url("./fonts/TradeGothicLT-Pro-Bold-33D730_0_0.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: TradeGothicLTPro;
  src: local("TradeGothic LT Regular"), local("TradeGothic-LT-Regular"), local("TradeGothicLTRegular"), local("Trade-Gothic-LT-Regular"), local("tradegothicltregular"), local("trade-gothic-lt-regular"),
  url("./fonts/TradeGothicLT-Pro-33D730_3_0.woff2") format("woff2"),
  url("./fonts/TradeGothicLT-Pro-33D730_3_0.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: TradeGothicLTPro;
  src: local("TradeGothic LT Light"), local("TradeGothic-LT-Light"), local("TradeGothicLTLight"), local("Trade-Gothic-LT-Light"), local("tradegothicltlight"), local("trade-gothic-lt-light"),
  url("./fonts/TradeGothicLT-Pro-Light-33D730_4_0.woff2") format("woff2"),
  url("./fonts/TradeGothicLT-Pro-Light-33D730_4_0.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

body,
.ui.menu .input > input,
.ui.text.container {
    font-family: "TradeGothicLTPro", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

.ui.search > .results .result .title,
.ui.menu,
.ui.header,
.ui.button,
.ui.header,
.text h1.ui.header, 
.ui.container.text h1,
.tile-content h1, 
h2, h3, h4, h5, h6,
.ui.category.search > .results .category > .name {
    font-family: "TradeGothicLTPro", "Century Gothic", "Apple Gothic", "URW Gothic L", sans-serif;
}

.tile-content h1,
.ui.container.text h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

/** Hyperlink Styles **/
.webpages a {
    text-decoration: none;
    color: #226582;
}

.webpages a:hover {
    color: #42bdf4;
}

.webpages .ui.segment .tile-content a,
.webpages .ui.main.text.container a {
    font-weight: bold;
}

/** .webpages .ui.segment .tile-content a:hover,
.webpages .ui.main.text.container a:hover {
    color: #226582;
} **/

/** External Links are presented as such **/
.ui.segment a[target="_blank"]::after {
    content: "  \29C9";
    padding-right: 0.15em;
    /** content: "\2750"; **/
}

.page .segment .content a {
    text-decoration: underline;
    font-weight: bold;
}

.ui.menu .search.item .results a:hover {
    text-decoration: underline;
}

.ui.menu .search.item .results a,
.ui.menu .menu-items a,
.ui.footer.segment .site-link a {
    text-decoration: none;
}

.webpages button.ui.button,
.webpages input.ui.button,
.webpages a.ui.button {
    border-radius: 0em;
    padding: .5em 1em;
    font-weight: 300;
}

.webpages .masthead .ui.basic.inverted.button.tale {
    color: #FDF8ED;
    -webkit-box-shadow: 0 0 0 2px #FDF8ED77 inset;
    box-shadow: 0 0 0 2px #FDF8ED77 inset;
}

/** Menus **/

.ui.large.inverted.menu img.logo {
    height: 36px;
    width: auto;
}

.ui.top.fixed.menu img.logo {
    height: 44px;
    width: auto;
}

.ui.vertical.menu.sidebar .item > img.logo {
    width: 66%;
    height: auto;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.ui.button,
.ui.menu .input > input,
.ui.vertical.inverted.menu .menu .item,
.ui.menu .item,
.ui.inverted.menu .item {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5em;
}

.ui.menu .item .menu.item {
    font-size: 1.4rem;
}

.ui.sidebar .ui.transparent.icon.input > input {
    padding-left: .6em !important;
    font-size: 1.2rem;
}

.ui.large.fixed.top.menu .ui.transparent.icon.input > input {
    padding-left: .6em !important;
    font-size: 1.0rem;
}

.ui.sidebar .ui.category.search .results {
    font-size: 1em;
    width: 90%;
    margin-left: 1.5rem;
}

.ui.segment .ui.text.container table,
.ui.segment .ui.text.container p,
.ui.segment .ui.text.container ul,
.ui.segment.tile table,
.ui.segment.tile ul,
.ui.segment.tile p {
    font-size: 1.3rem;
    line-height: 1.6em;
}

.ui.footer.segment.striped {
    padding-top: 4em;
    padding-bottom: 1em;
}

.ui.footer.segment .ui.container.text {
    position: relative;
}

.section-bg-11594.two-columns-equal .tile img {
    max-height: 125px;
    width: auto;
}
.section-bg-9677.two-columns-equal .tile img {
    max-width: 200px;
    height: auto;
}

.footer.segment .footer-links .submenu,
.ui.footer.segment .ui.container.text p {
    font-size: 1rem;
}

.footer.segment .footer-links .submenu {
    display: inline-block;
    top: -11px;
    position: relative;
}

.page .footer.segment .text a.logo {
    text-decoration: none;
}

.footer.segment .footer-text img {
    max-width: 450px;
    height: auto;
}

.footer.segment .footer-links .logo img {
    height: auto;
    position: relative;
    left: -5px;
}

.footer.segment .footer-links {
    display: inline-block;
}

.footer.segment .footer-links .submenu a {
    margin-right: 2em;
}

.footer.segment a {
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

.footer.segment a:hover {
    text-decoration: underline;
}

.ui.segment {
    padding: 1em 0em;
}

.ui.segment.tile {
    font-size: 2rem;
}

.ui.segment h1.ui.header {
    /** border-top: 6px solid #42bdf4; **/
    padding-top: 1.2em;
    font-size: 2.5rem;
    font-weight: 300;
}

.ui.segment h2.ui.header {
    font-size: 1.5rem;
}

header.ui.segment.masthead h1.ui.header {
    word-break: break-word; 
    font-size: 3.5em;
    margin-top: 1em;
    font-weight: 400;
    font-family: "Source Serif Pro", serif;
}

header.ui.masthead .page-buttons {
    margin-top: 0em;
    margin-bottom: 2em;
    padding-left: 0.1em;
}

header.ui.masthead .ui.text.container {
    margin-bottom: 1em;
}

header.ui.masthead .page-buttons,
header.ui.masthead .headline,
header.ui.masthead .ui.header {
    text-align: left;
}

header.ui.masthead .headline {
    padding-bottom: 1em;
    padding-left: 0.1em;
}

/** Custom Front Page Article Link Color
.page.front .segment.posts article .ui.header a {
    color: #b7d9cb;
    text-decoration: none;
}

.page.front .segment.posts article .ui.header a:hover {
    color: #2b293f;
} **/

/** IASS CI Colors **/
.blue {
    color: #004A99;
}

.blue-bg {
    background-color: #004A99;
}

.green {
    color: #94AC3C;
}

.green-bg {
    background-color: #94AC3C;
}

.violet {
    color: #660047;
}

.violet-bg {
    background-color: #660047;
}

.red {
    color: #CD201F;
}

.red-bg {
    background-color: #CD201F;
}

.light-blue {
    color: #5bc5ed;
}

.light-blue-bg {
    background-color: #5bc5ed;
}

.medium-blue {
    color: #3B99BB;
}

.medium-blue-bg {
    background-color: #3B99BB;
}

.dark-grey {
    color: #333;
}

.medium-grey {
    color: #e5e5e5;
}

.light-grey {
    color: #f2f2f2;
}

.dark-grey-bg {
    background-color: #333;
}

.medium-grey-bg {
    background-color: #e5e5e5;
}

.light-grey-bg {
    background-color: #f2f2f2;
}

/** ProMUT Project Colors **/
.tale-blue {
    color: #226582;
}

.tale-beige-text {
    color: #FDF8ED;
}

.medium-blue-3 {
    color: #3086ac;
}

.light-blue-3 {
    color: #42bdf4;
}

.light-brown {
    color: #5f4c47;
}

.brown {
    color: #38291e;
}

.tale-blue-bg {
    background-color: #226582;
}

.medium-blue-3-bg {
    background-color: #3086ac;
}

.light-blue-3-bg {
    background-color: #42bdf4;
}

.light-brown-bg {
    background-color: #5f4c47;
}

.brown-bg {
    background-color: #38291e;
}

.blockquote {
    color: #8c8c8c;
    padding-left: 1em;
    padding-right: 2em;
    border-left: 3px solid #d7d7d7;
}

.tile-content figure {
    margin: 0em;
    margin-top: 1.5em;
}

.text caption,
.tile-content figure figcaption {
    font-size: 1em;
    color: #d7d7d7;
    padding: 0.7em;
}

.tile-content figure figcaption a {
    color: #d7d7d7;
}

.ui.vertical.stripe.main-segment {
    padding: 3em;
}

.ui.vertical.stripe.bottom-segment {
    padding: 0em 0em 2em 0em;
}

.metadata {
    color: transparent;
}

.metadata:hover {
    color: #8c8c8c;
}

/** .ui.inverted.footer.segment {
    background-color: #2b293f;
} **/

.case-studies .ui.segment.single-tile .tc .content {
    margin-top: 2em;
}

.case-studies .ui.segment.single-tile .tile-row h1,
.case-studies .ui.segment.single-tile .tile-row h2 {
    margin-top: 0em;
}

.webpages.front .ui.segment.main-segment {
    padding-top: 1em;
    padding-bottom: 3em;
}

.body .ui.segment.main-segment.posts article h1.ui.header {
    margin-bottom: 0.25em;
    margin-top: 0em;
}

.body .ui.segment.main-segment.posts h1.ui.header {
    margin-bottom: 0.25em;
    margin-top: 1em;
}

.people .ui.segment.main-segment h3 {
    margin-top: 4em;
}

.webpages .ui.text.container.office-footer {
    margin-top: 2em;
    padding: 1em;
}

@media only screen and (max-width: 700px) {
    .footer.segment .footer-links .submenu a {
       margin-right: 1em;
    }
    .body .ui.segment.main-segment.posts h1.ui.header {
        margin: 0em;
    }
    .posts article {
        padding-top: 0em;
    }
    header nav.ui.container {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
    .ui.text.container .tile-content .content img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    #header-page-nav .ui.inverted.menu .item:not(.dropdown) {
        max-width: 175px;
    }
    #header-page-nav.ui.icontainer {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

@media only screen and (max-width: 440px) {
    .footer.segment .footer-links .submenu {
        top: 5px;
    }
}
