
/** 
 * The filename of this stylesheet is due to support for legacy installations
 * (and the layzness to write a simple migration...)
 **/

/** -- New Fomantic UI Custom Styled 2.8.4 Release -- **/

/** @import url('/de.kiezatlas.website/static/css/semantic-ui/2.3/dist/semantic.min.css'); **/
@import url('/de.mikromedia.webpages/static/css/fomantic-ui/dist/semantic.min.css');

.ui.menu .search.item .results a,
.ui.menu .menu-items a,
.ui.footer.segment .site-link a,
.ui.footer.segment .footer-links a {
    text-decoration: none;
}

body,
.ui.text.container {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}

.ui.header,
.ui.button,
h1, h2, h3, h4, h5, h6,
.ui.category.search > .results .category > .name {
    font-family: "Century Gothic", "Apple Gothic", "URW Gothic L", sans-serif;
}

.ui.menu .search.item .results a:hover,
.page.front .segment .ui.text a {
    text-decoration: underline;
}

#header-page-nav .item .logo,
#lower-page-nav .item .logo {
    width: auto;
    height: 32px;
}

.ui.menu .item {
    line-height: 1.4285em;
}

.ui.segment a[target="_blank"]::after {
    content: "  \29C9";
    /** content: "\2750"; **/
}

.ui.footer.inverted.segment .ui.header {
    color: #fff;
}

.page.front .segment.posts article .ui.header a {
    text-decoration: none;
}

.ui.segment.single-tile .tile-row {
    margin-top: 4em;
}

.ui.segment.footer .site-link .logo {
    max-width: 125px;
    margin-bottom: 2em;
    left: -.5em;
}

.blockquote {
    color: #8c8c8c;
    padding-left: 1em;
    padding-right: 2em;
    border-left: 3px solid #d7d7d7;
}

.tile-content figure {
    margin: 0em;
    margin-top: 1.5em;
}

.text caption,
.tile-content figure figcaption {
    font-size: 1em;
    color: #d7d7d7;
    padding: 0.7em;
}

.tile-content figure figcaption a {
    color: #d7d7d7;
}

.ui.vertical.stripe.main-segment {
    padding: 3em;
}

.ui.vertical.stripe.bottom-segment {
    padding: 0em 0em 2em 0em;
}

.metadata {
    color: transparent;
}

.metadata:hover {
    color: #8c8c8c;
}

.ui.inverted.footer.segment {
    background-color: #2b293f;
}

.case-studies .ui.segment.single-tile .tc .content {
    margin-top: 2em;
}

.case-studies .ui.segment.single-tile .tile-row h1,
.case-studies .ui.segment.single-tile .tile-row h2 {
    margin-top: 0em;
}

.webpages.front .ui.segment.main-segment {
    padding-top: 1em;
    padding-bottom: 3em;
}

.body .ui.segment.main-segment.posts article h1.ui.header {
    margin-bottom: 0.25em;
    margin-top: 0em;
}

.body .ui.segment.main-segment.posts h1.ui.header {
    margin-bottom: 0.25em;
    margin-top: 1em;
}

.people .ui.segment.main-segment h3 {
    margin-top: 4em;
}

@media only screen and (max-width: 700px) {
    .footer.segment .footer-links a {
       margin-right: 1em;
    }
    .body .ui.segment.main-segment.posts h1.ui.header {
        margin: 0em;
    }
    .posts article {
        padding-top: 0em;
    }
    header nav.ui.container {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
    .ui.text.container .tile-content .content img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    #header-page-nav .ui.inverted.menu .item:not(.dropdown) {
        max-width: 175px;
    }
    #header-page-nav.ui.icontainer {
        padding: 0em !important;
        margin-left: 0em !important;
        margin-right: 0em !important;
    }
}

@media only screen and (max-width: 440px) {
    .footer.segment .footer-links .submenu {
        top: 5px;
    }
}
